.card{
  padding: 25px 24px;
  background-color: #fff;
  border-radius: 16px;
  max-width: 338px;

  &__details {
    text-align: left;

  }
  &__energy-label {
    display: flex;
    align-items: center;
    gap: 9px;
    margin: 14px 0;
  }

  &__price-per-month {
    margin-top: 14px;
  }

  &__button {
    margin-top: 16px;
  }
}